<nav class="w-full bg-primary relative"
     style="box-shadow: 0 2px 4px rgba(0,0,0,0.5)">
  <div class="flex flex-wrap items-center justify-between md:justify-start
              max-w-screen-2xl mx-auto p-0 md:px-4">

    {% comment %}Icon.{% endcomment %}
    <div class="ml-3 md:ml-0 mr-2 my-2.5 md:my-0 z-50">
      <a href="{{ "/" | url }}">
        <img src="{{- config.navIcon | url -}}"
             class="inline-block h-10"
             alt="{{- config.name -}}"
        />
      </a>
    </div>

    {% comment %}
      Checkbox that toggles navigation. z-40 so that the checkbox is above
      the hamburger else and is easily clicked.
    {% endcomment %}
    <input class="nav-checkbox md:hidden
                  absolute right-0 top-0 opacity-0 z-40
                  mr-5 mt-5
                  cursor-pointer"
           style="width: 32px; height: 28px"
           type="checkbox">

    {% comment %}Hamburger.{% endcomment %}
    <div class="nav-hamburger mr-4 my-4 md:hidden">
      <div id="hamburger"
           class="mx-2 relative cursor-pointer
                   transition-all duration-300 ease"
           style="width: 26px; height: 22px">
        <div class="hamburger-bar bar1 absolute bg-black
                    transition-all duration-300 ease"
             style="top: 0px; width: 26px; height: 2px">
        </div>
        <div class="hamburger-bar bar2 absolute bg-black
                     transition-all duration-300 ease"
             style="top: 10px; width: 26px; height: 2px">
        </div>
        <div class="hamburger-bar bar3 absolute bg-black
                    transition-all duration-300 ease"
             style="top: 20px; width: 26px; height: 2px">
        </div>
      </div>
    </div>
    <style>
      /* Turns the bars into an X when the checkbox is selected. */
      .nav-checkbox:checked ~ .nav-hamburger .bar1 {
         transform: translateY(10px) rotate(45deg);
         transition: all 0.2s ease;
      }
      .nav-checkbox:checked ~ .nav-hamburger .bar2 {
         opacity: 0;
         transition: all 0.2s ease;
      }
      .nav-checkbox:checked ~ .nav-hamburger .bar3 {
        transform: translateY(-10px) rotate(-45deg);
         transition: all 0.2s ease;
      }
    </style>

    {% comment %}Navigation items.{% endcomment %}
    {%- assign activeUrl = page.url | url -%}
    {%- assign activeLink = "hover:text-gray-900 hover:border-gray-900" -%}
    {%- assign inactiveLink = "hover:text-black border-opacity-0
                               hover:border-opacity-100" -%}
    <div class="nav-menu hidden md:flex w-full md:w-auto text-center md:text-left
                pb-3 md:py-0">
      {%- for entry in config.navigation -%}
        {%- if entry.url -%}

          {%- comment -%}Add a single entry.{%- endcomment -%}

          {%- assign entryUrl = entry.url | url -%}
          {%- if entryUrl == activeUrl -%}
            {%- assign linkStyle = activeLink -%}
          {%- else -%}
            {%- assign linkStyle = inactiveLink -%}
          {%- endif -%}

          <div class="block md:inline-block mx-3 mt-3 mb-1 md:my-6">
            <a href="{{ entryUrl}}"
               class="transition pt-1 pb-0.5 text-black border-b-4 border-black
                      uppercase font-bold text-sm
                      {{ linkStyle }}">
              {{- entry.name -}}
            </a>
          </div>

        {%- elsif entry.children -%}

          {%- comment -%}Add an entry with children.{%- endcomment -%}

          <label class="relative group focus:outline-none block md:inline-block
                        w-full md:w-auto">
            {%- comment -%}Check if this group is active.{%- endcomment -%}
            {%- assign linkStyle = inactiveLink -%}
            {%- for c in entry.children -%}
              {%- assign cUrl = c.url | url -%}
              {%- if cUrl == activeUrl -%}
                {%- assign linkStyle = activeLink -%}
              {%- endif -%}
            {%- endfor -%}
            <div class="block md:inline-block mx-auto md:mx-3 mt-3 mb-1 md:my-6
                        text-black">
              <span class="transition pt-1 pb-0.5 border-b-4
                           border-black cursor-pointer
                           uppercase font-bold text-sm
                           {{ linkStyle }}">
                {{- entry.name -}}
                <i class="fas fa-caret-down pl-1 cursor-pointer"></i>
              </span>
            </div>

            <input class="group-checkbox
                          absolute left-0 top-0 w-full h-full opacity-0
                          cursor-pointer"
                   type="checkbox">
            <div class="group-menu
                        md:absolute md:left-0 bg-primary-dark md:bg-primary
                        mt-4 md:mt-0 pb-1 md:pb-0 pt-3 md:pt-0 w-full md:w-40
                        text-center md:text-left
                        hidden md:group-hover:block">
                        {% comment %} md:group-hover:block"> {% endcomment %}
              {%- for c in entry.children -%}
                {%- assign cUrl = c.url | url -%}
                {%- if cUrl == activeUrl -%}
                  {%- assign linkStyle =  activeLink-%}
                {%- else -%}
                  {%- assign linkStyle = inactiveLink -%}
                {%- endif -%}

                <div class="mb-3 mx-auto md:mx-3 w-full">
                  <a href="{{ cUrl }}"
                     class="transition pt-1 pb-0.5 text-black border-b-4 border-black
                            uppercase font-bold text-sm
                            {{ linkStyle }}">
                    {{- c.name -}}
                  </a>
                </div>
              {%- endfor -%}
            </div>
          </label>

        {%- endif -%}
      {%- endfor -%}
    </div>
    <style>
      /* Shows the menu when the checkbox is selected. */
      .nav-checkbox:checked ~ .nav-hamburger ~ .nav-menu {
        display: block;
      }

      /* Shows group menus when the group name is checked. */
      .group-checkbox:checked ~ .group-menu {
        display: block;
      }
    </style>
  </div>
</nav>
