---
layout: default.liquid
title: Blog
permalink: /blog/index.html

# Mirrors blog.subtitle in _data/config.js
description: "Updates and announcements from VGSA."
---

<div class="__blog__ p-4 max-w-screen-2xl mx-auto">

{%- if collections.post -%}
  <p class="text-gray-500 text-2xl font-light pl-2 my-5" >
    {{- description -}}
  </p>

  {%- assign posts = collections.post | reverse -%}
  {%- assign n_posts = posts.size -%}
  <p class="text-gray-500 pl-2 py-3">
    {{ n_posts }} {% if n_posts == 1 %}post{% else %}posts{% endif %}
  </p>
  <div class="w-full pb-6">
    {%- for p in posts -%}
    <a href="{{- p.url | url -}}"
       class="flex flex-wrap group px-2 py-3 border-t-2 border-gray-100 w-full
              text-black">
      <p class="hidden md:block text-gray-500 md:w-1/4">
        {{ p.date | date: "%B %e, %Y" }}
      </p>
      <div class="w-full md:w-1/2">
        <p class="font-bold md:mb-1 group-hover:text-red-500">
          {{- p.data.title -}}
        </p>
        <p class="md:hidden text-gray-500">
          {{ p.date | date: "%B %e, %Y" }} | {{ p.data.author }}
        </p>
        <p class="text-base text-black">
          {{- p.data.description -}}
        </p>
      </div>
      <p class="hidden md:block text-gray-500 md:w-1/4">
        {{ p.data.author }}
      </p>
    </a>
    {%- endfor -%}
  </div>
{%- else -%}

<div>
  <h2 class="text-4xl font-light mt-6 mb-3">Coming Soon!</h2>
  <p>
    In the meantime, follow us on
    <a href="https://instagram.com/uscvgsa">Instagram</a> or subscribe to our
    <a href="{{- "/feed.xml" | url -}}">RSS Feed</a> for updates.
  </p>
</div>

{%- endif -%}

</div>
